# You'll need to set a key for the Claude API
ANTHROPIC_API_KEY=sk-ant-...

# LangFuse is used for observability. To disable the tracking, comment out the key
#LANGFUSE_SECRET_KEY=""             # for dev purposes
LANGFUSE_PUBLIC_KEY="pk-lf-b738c9b6-8bf6-48dd-818d-d71740c9ce7b"
LANGFUSE_BASE_URL="https://us.cloud.langfuse.com"
