# You'll need to set a key for the Claude API
ANTHROPIC_API_KEY=sk-ant-...

# The token from the Data Annotation Framework (DAF)
CAVE_TOKEN=...

# LangFuse is used for observability during development.
# if you want to log your own chats, you can sign up for a free langfuse account, create keys, and put them here

#LANGFUSE_SECRET_KEY="sk-lf-...."
#LANGFUSE_PUBLIC_KEY="pk-lf-...."
#LANGFUSE_BASE_URL="https://us.cloud.langfuse.com"

NEUROGLANCER_PORT=8675

# you may need a FULL PATH for this
CACHE_DIR=/home/username/.cache/neuroanswer

